@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

.auto-header {
    text-decoration: none;

}

.page-title {
    font-weight: bold;
}

.cover-photo {
    max-width: 100%;
    height: auto;
    width: 38%; /* Adjust the width percentage as needed */
    margin: auto;
    display: block;
  }
  