---
layout: base
scrolly_nav: _sections
---

<main class="container-md">
  {% assign sorted_sections = site.sections | sort: 'order' %}
  {% for section in sorted_sections %}
      {% if section.title == "Hyunjin Seo" %}
        <!-- Different layout for 'About Me' section -->
        <section id="{{ section.title | downcase | replace: ' ', '-' }}" style="padding-top: 150px; background: linear-gradient(to bottom, #8EB4D8, white); margin: 0; width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw;">
        <div style="text-align: left;">
          <div>
            {{ section.content }}
          </div>
        </div>
      {% else %}
        <section id="{{ section.title | downcase | replace: ' ', '-' }}" style="padding-top: 150px;">
        <div style="text-align: left;">
          <h1 class="section-title" style="background-color: transparent; text-align: left; font-size: 2em; font-weight: normal;  margin-bottom: 1em; padding-bottom: 0.25em; border-bottom: 2px solid #c1ddec; color: #404040;">
            {{ section.title }}
          </h1>
          <div>
            {{ section.content }}
          </div>
        </div>
      {% endif %}
    </section>
  {% endfor %}
</main>

