---
layout: base
---

<main class="container-md">
  {% assign sorted_sections = site.sections | sort: 'order' %}
  {% for section in sorted_sections %}
    <section id="{{ section.title | downcase | replace: ' ', '-' }}" style="padding-top: 150px;">
      <div style="display: flex; align-items: flex-start;">
        <h1 class="section-title" style="background-color: transparent; text-align: left; font-size: 2em; flex-basis: 20%; margin-right: 20px;">
          {{ section.title }}
        </h1>
        <div style="flex-basis: 80%;">
          {{ section.content }}
        </div>
      </div>
    </section>
  {% endfor %}
</main>
