---
layout: default
scrolly_nav: _sections
---

<nav class="navbar">
  <ul>
    <li><a href="#about-me">ABOUT ME</a></li>
    <li><a href="#news">NEWS</a></li>
    <li><a href="#publications">PUBLICATIONS</a></li>
    <li><a href="#education">EDUCATION</a></li>
    <li><a href="#experience">EXPERIENCE</a></li>
    <li><a href="#projects">PROJECTS</a></li>
    <li><a href="#awards">AWARDS</a></li>
  </ul>
</nav>

<main class="container-md">
  {% assign sorted_sections = site.sections | sort: 'order' %}
  {% for section in sorted_sections %}
    <section id="{{ section.title | downcase | replace: ' ', '-' }}" style="padding-top: 150px;">
      <div style="display: flex; align-items: flex-start;">
        <h1 class="section-title" style="background-color: transparent; text-align: left; font-size: 1.5em; flex-basis: 20%; margin-right: 40px; font-weight: normal; margin-left: auto;">
          {{ section.title }}
        </h1>
        <div style="flex-basis: 80%;">
          {{ section.content }}
        </div>
      </div>
    </section>
  {% endfor %}
</main>
